* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 100%;
}

#aside {
  border-right: 1px solid black;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  padding: 8px;
}

.aside-sec:not(:first-of-type) {
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid black;
}

.aside-sec:first-of-type {
  padding-bottom: 8px;
}

#aside button {
  width: 100%;
  text-align: left;
  padding: 4px;
  background: none;
  border: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
}

.nav-btn-wrapper:not(:first-of-type):hover, #toggle-btn svg:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 250, 0.3);
}

.nav-btn-wrapper {
  padding-top: 2px;
  padding-bottom: 2px;
}

.hide {
  display: none;
}

#logo-wrapper {
  display: flex;
  gap: 4px;
}

.logo {
  width: 40px;
}

.arrow-rotate {
  transform: rotate(90deg)
}

.active {
  background-color: rgba(0, 0, 255, 0.7);
}